selenium==3.141.0
allure-behave
google-api-python-client~=2.39.0
google-auth-httplib2
google-auth-oauthlib
pyTelegramBotAPI
telethon~=1.24.0
gspread~=5.2.0
requests~=2.26.0
configparser~=5.2.0
behave~=1.2.6
telebot~=0.0.4